.sidebar_options{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    border-radius: 30px;
}

.sidebar_options:hover{
    background-color: var(--twitter-hover);
    color: var(--twitter-color);

    transition: color 100ms ease-out;
   
}

.sidebar_options>.MuiSvgIcon-root{
    padding: 20px;  
    
}

.sidebar_options>h2{
    font-weight: 500;
    font-size: 20px;
    margin-right: 20px;
}

.sidebar_options_active{
    color: var(--twitter-color);
}

@media screen and (max-width: 1300px){
    .sidebar__text{
        display: none;
        transition: 100ms ease-out;

    }

    .sidebar_options{
        border-radius: 50%;
        
    }
    
}