.sidebar{
    flex: 0.2;
    border-right: 1px solid var(--twitter-background);
    /* margin-top: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    height: 100vh;

 
}

.sidebar_twitterIcon{
    color: var(--twitter-color) !important;
    /* justify-content: center;
    align-items: center;
    margin-left: 20px !important;
    margin-bottom: 20px !important;
    font-size: 30px !important;
   */
}



.sidebar_tweet{
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;

}